.flexContainer {
  width: 600px;
}

.flexContainer .flexTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfc80;
  padding: 10px 0;
}

.flexContainer .flexTop :first-child {
  font-size: 30px;
}

.flexContainer .colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.flexContainer .colums :first-child {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: yellow;
  text-align: center;
}

.flexContainer .colums :nth-child(2) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  font-size: 25px;
}

.flexContainer .colums :last-child {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: yellow;
  text-align: center;
}

.flexContainer .flexBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfc80;
  padding: 15px 0;
}
