.flexContainer{
    width: 600px;
    .flexTop{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(252, 252, 128);
        padding: 10px 0;

        :first-child{
            font-size: 30px;
        }
    }
    .colums{
        display: flex;
        height: 300px;

        :first-child{
            flex-basis: 25%;
            background-color: yellow;
            text-align: center;
        }

        :nth-child(2){
            flex-basis: 50%;
            text-align: center;
            font-size: 25px;
        }

        :last-child{
            flex-basis: 25%;
            background-color: yellow;
            text-align: center;
        }
    }
    .flexBottom{
         display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(252, 252, 128);
        padding: 15px 0;
    }
}