.flexContainer{
    outline: 3px dashed gray;
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;

    >div{
        flex-grow: 1;
        flex-basis: 33%;
        height: 49.4%;
        background-color: green;
    }
    :first-child{
        border-bottom: 3px solid black;
    }
    .greenOrange1{
        display: flex;
        border-left: 3px dashed gray;
        border-bottom: 3px solid black;
        justify-content: center;
        .orange1{
            align-self: center;
            width: 25%;
            height: 80%;
            background-color: orangered;
            border-bottom: none;
        }
    }
    :nth-child(3){
        border-left:3px solid black;
        background-color: gray;
        border-bottom: 3px solid black;
    }
    .greenOrange2{
        display: flex;
        border-right:3px solid black;
        .orange2{
            background-color: orangered;
            border-bottom: none;
            height: 50%;
            width: 100%;
            align-self: flex-end;
        }
    }
    :nth-child(5){
        border-right:3px solid black;
        background-color: gray;
    }
    .greenOrange3{
        display: flex;
         align-items: flex-end;
        .orange3{
            background-color: orangered;
            border-bottom: none;
            width: 40%;
            height: 70%;
        }
    }
}