.flexContainer {
  outline: 3px dashed gray;
  width: 600px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContainer > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  height: 49.4%;
  background-color: green;
}

.flexContainer :first-child {
  border-bottom: 3px solid black;
}

.flexContainer .greenOrange1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 3px dashed gray;
  border-bottom: 3px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexContainer .greenOrange1 .orange1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 25%;
  height: 80%;
  background-color: orangered;
  border-bottom: none;
}

.flexContainer :nth-child(3) {
  border-left: 3px solid black;
  background-color: gray;
  border-bottom: 3px solid black;
}

.flexContainer .greenOrange2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 3px solid black;
}

.flexContainer .greenOrange2 .orange2 {
  background-color: orangered;
  border-bottom: none;
  height: 50%;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flexContainer :nth-child(5) {
  border-right: 3px solid black;
  background-color: gray;
}

.flexContainer .greenOrange3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flexContainer .greenOrange3 .orange3 {
  background-color: orangered;
  border-bottom: none;
  width: 40%;
  height: 70%;
}
