.flexContainer{
    width: 400px;
    padding: 20px;
    background-color: rgb(104, 180, 241);
    .flexBox1{
        display: flex;   

        .box1{
            background-color: rgb(255, 255, 118);
            padding: 20px;
            flex-basis: 20%;
        }
        .box2{
            background-color:rgb(255, 255, 118);
            padding: 20px;
            flex-grow: 1;
            margin: 0 0 0 10px;
        }
    }
    .flexBox2{
        display: flex;

        div{
            background-color:rgb(255, 255, 118);
            padding: 20px;
            margin:10px 10px 10px 0;
            flex-basis: 5%;
        }
        .box7{
            margin-right: 0px;
            flex-grow: 1;
        }
    }
    .flexBox3{
        display: flex;
        
        div{
            background-color: rgb(255, 255, 118);
            padding: 20px;
            margin: 0 10px 0 0;
        }
        .box8{
            flex-basis: 20%;
        }
        .box9{
            flex-basis: 28%;
        }
        .box10{
            margin-right: 0px;
            flex-grow: 1;
        }
    }
}