.flexContainer {
  width: 400px;
  padding: 20px;
  background-color: #68b4f1;
}

.flexContainer .flexBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer .flexBox1 .box1 {
  background-color: #ffff76;
  padding: 20px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.flexContainer .flexBox1 .box2 {
  background-color: #ffff76;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 0 10px;
}

.flexContainer .flexBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer .flexBox2 div {
  background-color: #ffff76;
  padding: 20px;
  margin: 10px 10px 10px 0;
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}

.flexContainer .flexBox2 .box7 {
  margin-right: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flexContainer .flexBox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer .flexBox3 div {
  background-color: #ffff76;
  padding: 20px;
  margin: 0 10px 0 0;
}

.flexContainer .flexBox3 .box8 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.flexContainer .flexBox3 .box9 {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.flexContainer .flexBox3 .box10 {
  margin-right: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
