.flexContainer {
  width: 600px;
  background-color: #1e1131;
  padding: 30px 0;
}

.flexContainer .flexBox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer .flexBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flexContainer .flexBox3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexContainer .flexBox4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexContainer .flexBox5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexContainer .box1 {
  background-color: #007585;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 20px;
}

.flexContainer .box2 {
  background-color: yellow;
  padding: 20px;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.flexContainer .box3 {
  background-color: #ff6a82;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 20px;
}
