.flexContainer{
    width: 600px;
    background-color: rgb(30, 17, 49);
    padding: 30px 0 ;
    .flexBox1{
        display: flex;
    }
    .flexBox2{
        display: flex;
        padding: 20px 0 0 0;
        justify-content: flex-end;
    }
    .flexBox3{
        display: flex;
        padding: 20px 0 0 0;
        justify-content: center;
    }
    .flexBox4{
        display: flex;
        padding: 20px 0 0 0;
        justify-content: space-between;
    }
    .flexBox5{
        display: flex;
        padding: 20px 0 0 0;
        justify-content: space-around;
    }
    .box1{
        background-color: rgb(0, 117, 133);
        flex-basis: 20%;
         padding: 20px;
    }
    .box2{
        background-color: yellow;
        padding: 20px;
        flex-basis: 10%;
    }
    .box3{
        background-color: rgb(255, 106, 130);
        flex-basis: 30%;
        padding: 20px;
    }
}